<div dir="ltr">
  <div class="adM"><br clear="all" /></div>
  <span class="gmail_signature_prefix">-- </span><br />
  <div dir="ltr" class="gmail_signature" data-smartmail="gmail_signature">
    <div dir="ltr">
      <table style="direction: ltr; border-collapse: collapse">
        <tbody>
          <tr>
            <td style="font-size: 0; height: 12px; line-height: 0"></td>
          </tr>
          <tr>
            <td>
              <table
                cellpadding="0"
                cellspacing="0"
                border="0"
                style="width: 100%"
                width="100%"
              >
                <tbody>
                  <tr>
                    <td>
                      <table
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="width: 100%; line-height: normal"
                      >
                        <tbody>
                          <tr>
                            <td style="font-family: Arial; text-align: left">
                              <p style="font-size: 15px; margin: 1px">
                                Best regards,
                              </p>
                              <p style="margin: 1px">
                                <img
                                  style="height: 57px"
                                  <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NZlmTyNF8hCA6stxF21zBfa9_3CdU1qIwcKBcYH1BPryB95zwwFO0oY3_cBQIGdJlrHhHNbdIZqeY4xvPtTfpO9WpE7pmjrAVqa2XSPyZk8DXbtYmBHNTGJjFoKH0hDdRKdYkq-BSMbUR9GJhVs1nq0agowtez8dKZEAKwB=s0-d-e1-ft#https://d36urhup7zbd7q.cloudfront.net/5188842341924864/no_sig_171408054096/signoff.gif?ck=1714080540.96" -->
                                  alt="Jayabrata Pramanik"
                                  height="57"
                                  class="CToWUd"
                                  data-bit="iit"
                                />
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="line-height: 1%; padding-top: 16px; font-size: 1px"
                    ></td>
                  </tr>
                  <tr>
                    <td>
                      <table
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="width: 100%; line-height: normal"
                      >
                        <tbody>
                          <tr>
                            <td style="font-family: Arial; text-align: left">
                              <p style="margin: 1px">
                                <img
                                  style="height: 57px"
                                  <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NYVDJcZb5txrPfEUb5wIFIQ9drvC_mj7Ji197_FMCooDaCBphF2rTPJYWEJRsF02OonsdoZhm1n7MNNwqo05T9PVEWYEZlHoK7jGR2UzGHlGSlnf2ZK8eZd1U5L-QDcSOHK2XbWep8sd7dxG2pUqsQg7wXGorWDbKdDM7Uo0i8oE1CdBTNxilwwDs6GcVkM0sSh48pUnbIHS1vQCU3VgTc=s0-d-e1-ft#https://d36urhup7zbd7q.cloudfront.net/5188842341924864/4983668365197312/5f067a94-eace-4ea8-9fed-2a85e70e1928/signoff.gif?ck=1714080698.45" -->
                                  alt="Best regards,"
                                  height="57"
                                  class="CToWUd"
                                  data-bit="iit"
                                />
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="line-height: 1%; padding-top: 16px; font-size: 1px"
                    ></td>
                  </tr>
                  <tr>
                    <td>
                      <table
                        cellpadding="0"
                        cellspacing="0"
                        style="border-collapse: collapse; line-height: 1.15"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="
                                vertical-align: top;
                                padding: 0.01px 14px 0.01px 1px;
                                width: 65px;
                                text-align: center;
                              "
                            >
                              <img
                                border="0"
                                <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NZIFLPsOIFWTqE_pzo2ioZspzjTIj6gYxaSMaS4Kcn4WVy7H5ZtJWey7stWZJ-urm3YQSPv94ygsJNwp7Sw9j7EqqfHvvPOLc_5Oa3bkbrvAc5RqpcmhZQZfVu8QzR3bhVewFHcYPgftFbUVxhph0yjfcQ=s0-d-e1-ft#https://d36urhup7zbd7q.cloudfront.net/u/wDbMrZXPbpQ/7feadbdf-3e57-4fc2-bfed-2c0787bab528.jpeg" -->
                                height="65"
                                width="65"
                                alt="photo"
                                style="
                                  width: 65px;
                                  vertical-align: middle;
                                  border-radius: 0;
                                  height: 65px;
                                  border: 0;
                                  display: block;
                                "
                                class="CToWUd"
                                data-bit="iit"
                              />
                            </td>
                            <td
                              valign="top"
                              style="
                                padding: 0.01px 0.01px 0.01px 14px;
                                vertical-align: top;
                                border-left: solid 1px #bdbdbd;
                              "
                            >
                              <table
                                cellpadding="0"
                                cellspacing="0"
                                style="border-collapse: collapse"
                              >
                                <tbody>
                                  <tr>
                                    <td style="padding: 0.01px">
                                      <p
                                        style="
                                          margin: 0.1px;
                                          line-height: 120%;
                                          font-size: 16px;
                                        "
                                      >
                                        <span
                                          style="
                                            font-family: Arial;
                                            font-size: 16px;
                                            font-weight: bold;
                                            color: #646464;
                                            letter-spacing: 0;
                                            white-space: nowrap;
                                          "
                                          >Jayabrata Pramanik</span
                                        ><br /><span
                                          style="
                                            font-family: Arial;
                                            font-size: 13px;
                                            font-weight: bold;
                                            color: #646464;
                                            white-space: nowrap;
                                          "
                                          >Full Stack Developer</span
                                        >
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <table
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="border-collapse: collapse"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              nowrap=""
                                              width="238"
                                              style="
                                                padding-top: 14px;
                                                white-space: nowrap;
                                                width: 238px;
                                                font-family: Arial;
                                              "
                                            >
                                              <p
                                                style="
                                                  margin: 1px;
                                                  line-height: 99%;
                                                  font-size: 11px;
                                                "
                                              >
                                                <span
                                                  style="white-space: nowrap"
                                                  ><a
                                                    href="tel:9091392947"
                                                    style="
                                                      font-family: Arial;
                                                      text-decoration: unset;
                                                    "
                                                    rel="nofollow noreferrer"
                                                    target="_blank"
                                                    ><span
                                                      style="
                                                        line-height: 120%;
                                                        font-family: Arial;
                                                        font-size: 11px;
                                                        color: #212121;
                                                        white-space: nowrap;
                                                      "
                                                      >90913 92947</span
                                                    ></a
                                                  >&nbsp;&nbsp;|&nbsp;&nbsp;<a
                                                    href="https://jayabratapramanik.me"
                                                    style="
                                                      font-family: Arial;
                                                      text-decoration: unset;
                                                    "
                                                    rel="nofollow noreferrer"
                                                    target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://jayabratapramanik.me&amp;source=gmail&amp;ust=1714167970006000&amp;usg=AOvVaw0oCtXVOzC_Bm_joJziewkP"
                                                    ><span
                                                      style="
                                                        line-height: 120%;
                                                        font-family: Arial;
                                                        font-size: 11px;
                                                        color: #212121;
                                                        white-space: nowrap;
                                                      "
                                                      >jayabratapramanik.me</span
                                                    ></a
                                                  ></span
                                                >
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              nowrap=""
                                              width="172"
                                              style="
                                                padding-top: 8px;
                                                white-space: nowrap;
                                                width: 172px;
                                                font-family: Arial;
                                              "
                                            >
                                              <p
                                                style="
                                                  margin: 1px;
                                                  line-height: 99%;
                                                  font-size: 11px;
                                                "
                                              >
                                                <span
                                                  style="white-space: nowrap"
                                                  ><a
                                                    href="mailto:Jayabrata180402@gmail.com"
                                                    style="
                                                      font-family: Arial;
                                                      text-decoration: unset;
                                                    "
                                                    rel="nofollow noreferrer"
                                                    target="_blank"
                                                    ><span
                                                      style="
                                                        line-height: 120%;
                                                        font-family: Arial;
                                                        font-size: 11px;
                                                        color: #212121;
                                                        white-space: nowrap;
                                                      "
                                                      >Jayabrata180402@gmail.com</span
                                                    ></a
                                                  ></span
                                                >
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td
                                      style="padding: 14px 0.01px 0.01px 0.01px"
                                    >
                                      <table
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              align="left"
                                              style="
                                                padding-right: 6px;
                                                text-align: center;
                                                padding-top: 0;
                                              "
                                            >
                                              <p style="margin: 1px">
                                                <a
                                                  href="https://github.com/Jayabrata18"
                                                  rel="nofollow noreferrer"
                                                  target="_blank"
                                                  data-saferedirecturl="https://www.google.com/url?q=https://github.com/Jayabrata18&amp;source=gmail&amp;ust=1714167970006000&amp;usg=AOvVaw1BExuJBf4tNIccJfFC1kc0"
                                                  ><img
                                                    width="24"
                                                    height="24"
                                                    <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NaneHO-H82DlgzWtyCy8LxZcGvrCC4ke__nQji8adH3AGTIUBvjXvf5o4p8Sm2ZK7RGontRtF6ra1uL5q7IDPjwkOBa1nLGVuK7xQR_2V9K0pUL1w=s0-d-e1-ft#https://cdn.gifo.wisestamp.com/s/gh/4183c4/48/0/background.png" -->
                                                    style="
                                                      float: left;
                                                      border: none;
                                                    "
                                                    border="0"
                                                    alt="github"
                                                    class="CToWUd"
                                                    data-bit="iit"
                                                /></a>
                                              </p>
                                            </td>
                                            <td
                                              align="left"
                                              style="
                                                padding-right: 6px;
                                                text-align: center;
                                                padding-top: 0;
                                              "
                                            >
                                              <p style="margin: 1px">
                                                <a
                                                  href="https://www.facebook.com/jayabrata.pramanik"
                                                  rel="nofollow noreferrer"
                                                  target="_blank"
                                                  data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/jayabrata.pramanik&amp;source=gmail&amp;ust=1714167970006000&amp;usg=AOvVaw1WYLr-snvieez7Ab3kiCP1"
                                                  ><img
                                                    width="24"
                                                    height="24"
                                                    <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NZThjwhLvvvZFalhn_T6R9uOjvL7gweU920bn7jIV3QFnjXhu-tcU2ksWf0OuJUpsvrGciWdsyMANqk8FK368KBETh-kMa2nrUhLUV6kdF99fiiJw=s0-d-e1-ft#https://cdn.gifo.wisestamp.com/s/fb/3b5998/48/0/background.png" -->
                                                    style="
                                                      float: left;
                                                      border: none;
                                                    "
                                                    border="0"
                                                    alt="facebook"
                                                    class="CToWUd"
                                                    data-bit="iit"
                                                /></a>
                                              </p>
                                            </td>
                                            <td
                                              align="left"
                                              style="
                                                padding-right: 6px;
                                                text-align: center;
                                                padding-top: 0;
                                              "
                                            >
                                              <p style="margin: 1px">
                                                <a
                                                  href="https://www.instagram.com/jayabrata_7/"
                                                  rel="nofollow noreferrer"
                                                  target="_blank"
                                                  data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/jayabrata_7/&amp;source=gmail&amp;ust=1714167970006000&amp;usg=AOvVaw36dKU-BiAhZ5pcIC-cwBCe"
                                                  ><img
                                                    width="24"
                                                    height="24"
                                                    <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NZ7ht7tyyn2K_HRkWbx_rMh2Nz24kJEm-tvEPpwPgQNSdQvTHxd_n6YnwDMbBeyWHl_AOyfvsMdzgC3pUj_5BP2vI9T-HAmFdEzsFAsipt6enEAhd7p=s0-d-e1-ft#https://cdn.gifo.wisestamp.com/s/inst/E4405F/48/0/background.png" -->
                                                    style="
                                                      float: left;
                                                      border: none;
                                                    "
                                                    border="0"
                                                    alt="instagram"
                                                    class="CToWUd"
                                                    data-bit="iit"
                                                /></a>
                                              </p>
                                            </td>
                                            <td
                                              align="left"
                                              style="
                                                padding-right: 6px;
                                                text-align: center;
                                                padding-top: 0;
                                              "
                                            >
                                              <p style="margin: 1px">
                                                <a
                                                  href="https://www.linkedin.com/in/jayabrata-pramanik/"
                                                  rel="nofollow noreferrer"
                                                  target="_blank"
                                                  data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/in/jayabrata-pramanik/&amp;source=gmail&amp;ust=1714167970007000&amp;usg=AOvVaw0kWvUEjw40cK__qifzlU2f"
                                                  ><img
                                                    width="24"
                                                    height="24"
                                                    <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NZsnNTPZumkeXUxIlU6NmHl0Lviwn-z3zgA0pMRlKzpo-OxSIEBi1MlU2_85wAchQ4EXAsaMmS-wgLJbfC4E38mr00SvrEwU7gggply1mNUnQdezA=s0-d-e1-ft#https://cdn.gifo.wisestamp.com/s/ld/0077b5/48/0/background.png" -->
                                                    style="
                                                      float: left;
                                                      border: none;
                                                    "
                                                    border="0"
                                                    alt="linkedin"
                                                    class="CToWUd"
                                                    data-bit="iit"
                                                /></a>
                                              </p>
                                            </td>
                                            <td
                                              align="left"
                                              style="
                                                padding-right: 6px;
                                                text-align: center;
                                                padding-top: 0;
                                              "
                                            >
                                              <p style="margin: 1px">
                                                <a
                                                  href="https://witter.com/Jayabrata22"
                                                  rel="nofollow noreferrer"
                                                  target="_blank"
                                                  data-saferedirecturl="https://www.google.com/url?q=https://witter.com/Jayabrata22&amp;source=gmail&amp;ust=1714167970007000&amp;usg=AOvVaw3gF0vT0EXTlX8tY9DTtcfo"
                                                  ><img
                                                    width="24"
                                                    height="24"
                                                    <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NYZALHFGFtx5J40N2SapVZyD0HRnWxEDJ2_nDkc7hLv2wm3wfw3CjpXjxM20Tx2-qVyflSQezk6_sxx2ieP8B_lj9n-wePGjyJxI_6moAcegEwLZw=s0-d-e1-ft#https://cdn.gifo.wisestamp.com/s/tw/000000/48/0/background.png" -->
                                                    style="
                                                      float: left;
                                                      border: none;
                                                    "
                                                    border="0"
                                                    alt="twitter"
                                                    class="CToWUd"
                                                    data-bit="iit"
                                                /></a>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="line-height: 1%; padding-top: 16px; font-size: 1px"
                    ></td>
                  </tr>
                  <tr>
                    <td>
                      <table
                        style="
                          padding-right: 8px;
                          width: 100%;
                          font-size: 12px;
                          line-height: normal;
                        "
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td
                              align="left"
                              style="text-align: left; line-height: 0"
                            >
                              <p style="margin: 1px">
                                <a
                                  href="https://jayabratapramanik.me"
                                  rel="nofollow noreferrer"
                                  style="
                                    display: block;
                                    text-decoration: none;
                                    font-size: 0;
                                  "
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=https://jayabratapramanik.me&amp;source=gmail&amp;ust=1714167970007000&amp;usg=AOvVaw3Wx3O-oVppWDA55h6vhC84"
                                  ><img
                                    <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NaPcO_Fo25XVxCeLSttE605HL1k_QlBaIPCUXIIQ6ukblHNO75UWZwPTgYtiI3vKFjfO_ZJlj7zDPAygnmEK_iqYvgBf8zQDxUEqw83URwYBP0UKQBN_40wj4H-yqGZ-5SAlV9XnVjOoLX9aBnr_t0AotoHHeS5FasZjh_TpeO8gpIbn2UmqJKSDxxwbJmGmzOBBR4W=s0-d-e1-ft#https://cdn.gifo.wisestamp.com/apps/app_button/full/Check%20out%20my%20website/ffffff/1BA2EB/60/0/chevron-right-small/right.png" -->
                                    height="41"
                                    alt="Custom Button App"
                                    class="CToWUd"
                                    data-bit="iit"
                                /></a>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="line-height: 1%; padding-top: 16px; font-size: 1px"
                    ></td>
                  </tr>
                  <tr>
                    <td>
                      <table
                        style="
                          padding-right: 8px;
                          width: 100%;
                          font-size: 12px;
                          line-height: normal;
                        "
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td
                              align="left"
                              style="text-align: left; line-height: 0"
                            >
                              <p style="margin: 1px">
                                <a
                                  href="https://drive.google.com/file/d/1f7WoGlNv6lQrLj33fSIO7H23XASC5rPi/view?usp=drive_link"
                                  rel="nofollow noreferrer"
                                  style="
                                    display: block;
                                    text-decoration: none;
                                    font-size: 0;
                                  "
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=https://drive.google.com/file/d/1f7WoGlNv6lQrLj33fSIO7H23XASC5rPi/view?usp%3Ddrive_link&amp;source=gmail&amp;ust=1714167970007000&amp;usg=AOvVaw0wQLxWBkZv-3SCk4KHX6hW"
                                  ><img
                                    <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NaN8grVhVBN60q8c5-WsvHIV4-0DfQmJc12xEwOPnOjjpJWibX7ThEvi7m746pz9x-FHdYKuRiRPIx0HwVx4XUTMpFTXxtZEZ1fHp6MO7pbXAI-a09mx1BDglsExBdq41dtwuCq46APzcWit6QTxcGN7jGWvErNoIK4pqnUKtWncg=s0-d-e1-ft#https://cdn.gifo.wisestamp.com/apps/app_button/full/Resume/ffffff/1BA2EB/60/0/chevron-right-small/right.png" -->
                                    height="41"
                                    alt="Custom Button App"
                                    class="CToWUd"
                                    data-bit="iit"
                                /></a>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="line-height: 1%; padding-top: 16px; font-size: 1px"
                    ></td>
                  </tr>
                  <tr>
                    <td>
                      <table
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 600px; padding-right: 8px"
                      >
                        <tbody>
                          <tr>
                            <td>
                              <p style="margin: 1px">
                                <a
                                  href="https://www.linkedin.com/in/jayabrata-pramanik/"
                                  rel="nofollow noreferrer"
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/in/jayabrata-pramanik/&amp;source=gmail&amp;ust=1714167970007000&amp;usg=AOvVaw0kWvUEjw40cK__qifzlU2f"
                                  ><img
                                    width="170"
                                    height="40"
                                    <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NbJ1FkYwxlePTz8JzFWuWe7Ej6DxStP6ge1lYCQPimTzA21g-dmtbjAaX5fvmTTzO6vvKJI7A4zJUKqmLHKREN83UHnFdy72z6GJc6yKd1ob78IIeqPcnqO6t-KybRiTIsJTt9ZwrEUqNPBP0SyxBXXeqro1gAcoHFK6IR6blZNqVDsm2gdXJXBSH2a2GKCZlnjewW9x2IJzW8=s0-d-e1-ft#https://cdn.gifo.wisestamp.com/apps/fixed_button/full/Lets%20connect!/_mc_ffffff,0077b5_mc_/30/20/linkedin-50/left/40,28,340,80.png" -->
                                    alt="App Social Buttons Image"
                                    class="CToWUd"
                                    data-bit="iit" /></a
                                >&nbsp;<a
                                  href="http://witter.com/Jayabrata22"
                                  rel="nofollow noreferrer"
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=http://witter.com/Jayabrata22&amp;source=gmail&amp;ust=1714167970007000&amp;usg=AOvVaw28Vflyc_B_RS6mn7wwU9Ot"
                                  ><img
                                    width="170"
                                    height="40"
                                    <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NYNnwFm7G_KLSgBDVXHlTUm4_altnWNeKm80h49KwYHRlMP11kDfw80Gll8mohexBIruvz863wRZda023cTfHMyyCU8EJOKOsstSCt7KKXjZxKIbkqqa_ZdEN86sMxd0ujAS7humpn_oNrtdmHoOIz_rahtneUvVRzgIOwNP2eWGOjCF3fh26HojTKs6hxRJgpIUaSwhZ2hWAaT=s0-d-e1-ft#https://cdn.gifo.wisestamp.com/apps/fixed_button/full/See%20my%20tweets/_mc_ffffff,000000_mc_/30/20/twitter-50/left/40,28,340,80.png" -->
                                    alt="App Social Buttons Image"
                                    class="CToWUd"
                                    data-bit="iit" /></a
                                >&nbsp;<a
                                  href="https://www.instagram.com/jayabrata_7/"
                                  rel="nofollow noreferrer"
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/jayabrata_7/&amp;source=gmail&amp;ust=1714167970007000&amp;usg=AOvVaw2L30pSmEQR9xPFPqfXZZIy"
                                  ><img
                                    width="170"
                                    height="40"
                                    <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NbiTruhO8I3tm2CwDCqf0mxHGD9je8fzy2s3VKqCpGTKzSyTSa_ttkCKT6T8PLgBjLWp8agcX2MqC6WRXVhULvkDFS6T3wf5VIrUPMNPJkz-I7SPYagJ4hkjZLd78Vc87Y2k_gMhdvyk11fzI20IaZFNVGxZ7FwF24eMP5OkdO-B-bH3utl9j57f8PR3_pEX4gUA8LK1AgXq2cx_A=s0-d-e1-ft#https://cdn.gifo.wisestamp.com/apps/fixed_button/full/View%20my%20feed/_mc_ffffff,E4405F_mc_/30/20/instagram-50/left/40,28,340,80.png" -->
                                    alt="App Social Buttons Image"
                                    class="CToWUd"
                                    data-bit="iit" /></a
                                >&nbsp;<a
                                  href="https://www.facebook.com/jayabrata.pramanik"
                                  rel="nofollow noreferrer"
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/jayabrata.pramanik&amp;source=gmail&amp;ust=1714167970007000&amp;usg=AOvVaw2ODFCTHhV7RCPz1uIpK-Ob"
                                  ><img
                                    width="170"
                                    height="40"
                                    <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NYoVT90O88vqmcYPFHr9KLNrU_EZqzJar4zhA4GuAB2BvglARysFPMGATfoyLERIWIkYtvpzb0RC-8ubljy-8EV1j665E9xlATLxx0IB8ZnER1ZqjCT1HKouTNIUr_XA3vMOGNto0wf3W7ISamjbWwPzxmQVnRnXeYwV214faNdpafAdSWMT_HK6ZTdoKInvExnWM4eI0f4kBkcMtg=s0-d-e1-ft#https://cdn.gifo.wisestamp.com/apps/fixed_button/full/Add%20me%20on%20FB/_mc_ffffff,3b5998_mc_/30/20/facebook-50/left/40,28,340,80.png" -->
                                    alt="App Social Buttons Image"
                                    class="CToWUd"
                                    data-bit="iit" /></a
                                >&nbsp;
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="line-height: 1%; padding-top: 16px; font-size: 1px"
                    ></td>
                  </tr>
                </tbody>
              </table>
              <div
                href="http://WS_promo"
                style="
                  width: auto;
                  padding-top: 2px;
                  font-size: 10px;
                  border-top-width: 1px;
                  border-top-style: solid;
                  border-top-color: rgb(238, 238, 238);
                  margin-top: 18px;
                  display: table;
                  direction: ltr;
                  line-height: normal;
                  border-spacing: initial;
                "
              >
                <div style="padding-top: 2px">
                  <a
                    href="https://www.wisestamp.com/lp/promo/professional-email-signature?utm_source=promotion&amp;utm_medium=signature&amp;utm_campaign=create_your_own&amp;srcid="
                    style="font-size: 12px; color: #000; text-decoration: none"
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://www.wisestamp.com/lp/promo/professional-email-signature?utm_source%3Dpromotion%26utm_medium%3Dsignature%26utm_campaign%3Dcreate_your_own%26srcid%3D&amp;source=gmail&amp;ust=1714167970007000&amp;usg=AOvVaw2P1vWEBjSiM8Y211phdL0d"
                    >Create your WiseStamp
                    <span style="color: #a50310">email signature</span></a
                  >
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td
              style="
                font-family: 'ws-id zOmpaxenPA2';
                font-size: 0.01px;
                line-height: 0;
              "
            >
              &nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <img
      <!-- src="https://ci3.googleusercontent.com/meips/ADKq_NYJF_aKh4hMVV2HFpA9Tlj3f4qEV5I-i2F3CFkxoAGEhj52FnqnTG3yuf19XDqARAM8JZd-uwRBqQ1WSxxEotIhhhyCrHbUGAQm0CYb=s0-d-e1-ft#https://tracy.srv.wisestamp.com/px/wsid/zOmpaxenPA2.png" -->
      alt="__tpx__"
      class="CToWUd"
      data-bit="iit"
    />
  </div>
</div>
